.auth-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  margin: 10px;
}

.auth-form-container {
  background-color: $lighest-blue;
  border: 3px $dark-blue solid;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  width: 18%;
  text-align: center;
  margin: 30px auto;
  height: 100%;
}

.auth-form-container h2{
  font-family: $sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: $blue;
  margin-bottom: 5px;
}

.auth-form-container span, a {
  color: $blue;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.auth-form-container a:hover {
  color: $dark-blue;
}

.auth-form-container label{
  display: block;
  font-family: $sans-serif;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  color: $blue;
}

.auth-error {
  padding-top: 20px;
  font-size: 13px;
  font-family: $lato;
  color: red;
}

.auth-input {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0 20px 0;
    border: 1px solid $dark-blue;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 15px;
}

.button {
    width: 50%;
    background-color: $hover-ul-color;
    padding: 5px 20px;
    margin: 0 0 20px 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    color: $dark-blue;
    font-family: $sans-serif;
    -webkit-filter: brightness(100%);
}

.button:hover {
  box-shadow: 0 0 10px #ccc;
  -webkit-filter: brightness(90%)
}
