.city-sublist-link {
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
  color: $dark-blue;
  font-family: $sans-serif;
}

.city-sublist-link:hover {
  color: $white;
}

.member-container {
  display: block;
  margin: 20px;
  background: $lighest-blue;
  border-radius: 5px;
  padding: 10px;
  margin-right: 0;
}

.member-list {
  display: flex;
  padding: 10px;
  padding-bottom: 20px;
}

.member-image {
  display: inline-block;
  width: 65px;
  height: 65px;
  padding-right: 20px;
}

.member-name {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: $molengo;
  color: $nav-ul-color;
}

.member-name:hover {
  color: $blue;
}

.member-join-date {
  font-size: 15px;
  font-family: $molengo;
  color: $blue;
  padding-left: 15px;
}
