.sub-header {
  background-color: $bright-blue;
  text-align: center;
  padding: 30px;
  color: $white;
  background: -webkit-linear-gradient(#0d65e0, #0cd1f1);
  background: -o-linear-gradient(#0d65e0, #0cd1f1);
  background: -moz-linear-gradient(#0d65e0, #0cd1f1);
  background: linear-gradient(#0d65e0, #0cd1f1);
}

.sub-header h2{
  font-size: 45px;
  font-family: $hindi;
  font-weight: bolder;
  padding: 30px;
  color: $white;
}

.sub-header p{
  font-size: 30px;
  font-family: $architect;
  font-weight: bolder;
  padding-bottom: 30px;
  padding-top: 10px;
}

.search-bar {
  width: 600px;
  margin: 50px auto;
}

.search-input {
  padding: 10px 10px;
  background: $white;
  width: 600px;
  font-size: 17px;
  border-radius: 3px;
}

// .search-button {
//   position: relative;
//   padding: 10px 15px;
//   border:2px solid #207cca;
//   background-color:#207cca;
//   border-radius: 2px;
//   color:#fafafa;
//   font-size: 16px;
// }

.search-button:hover  {
  color: $white;
  cursor: pointer;
}

.search-result, .city-list-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 50px auto 30px auto;
}

.search-list, .citylist{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
}

.citylist {
  justify-content: space-between;
}

.city-list-container {
  text-align: center;
  margin-top: 0;
  border-top: 1px solid rgba(0, 91, 154, 0.31);
}

.city-list-item, .event-from-search {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  padding: 20px;
}

.city-list-div, .search-list-div {
  width: 300px;
  height: 200px;
  margin: 10px;
  position: relative;
}

.search-event-item {
  border-radius: 5px;
}

.search-event-header {
  padding: 10px 0 20px 0;
  text-align: center;
  color: $dark-blue;
  font-size: 20px;
  font-family: $lato;
  position: absolute;
  z-index: 10;
  top: 5%;
  width: 300px;
  left: 3%;
}

.search-event-detail {
  text-align: left;
  padding: 5px 0 5px 0;
  color: $dark-blue;
  font-size: 15px;
  font-family: $lato;
  margin-left: 20px;
}

.city-list-header {
  font-size: 30px;
  font-family: $lato;
  font-weight: bold;
}

.city-img, .search-img {
  width: 100%;
  height: 100%;
  margin: 10px;
  z-index: -1;
  border-radius: 5px;
}

.search-img {
  opacity: 0.6;
}

.showDetail {
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 10%;
  padding: 10px;
  width: 80%;
  margin-top: 20px;
  background-color: $lighest-blue;
  opacity: 0.8;
  border-radius: 5px;
  color: $dark-blue;
}

.city-list-div {
  -webkit-filter: brightness(85%);
}

.city-list-div p{
  visibility: hidden;
}

.city-list-div:hover p {
  visibility: visible;
}

.city-list-div:hover {
  -webkit-filter: brightness(100%);
}

.city-list-div p {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 20%;
  font-size: 30px;
  font-family: $sans-serif;
  font-weight: bold;
  color: $white;
  width: 200px;
}

.search-list-div {
  -webkit-filter: brightness(70%);
}

.search-list-div:hover {
  -webkit-filter: brightness(100%);
}

.search-list-div:hover .search-event-header{
  color: $darkest-blue;
}

.city-list-footer h3, .city-list-footer p{
  text-align: center;
  margin: 10px;
  font-size: 20px;
  color: $dark-blue;
  font-family: $sans-serif;
}

.city-list-footer {
  margin-bottom: 40px;
}

.footer-button {
  margin-right: 10px;
}

.footer-button:hover {
  cursor: pointer;
}
