.sub-header {
  background-color: $bright-blue;
  text-align: center;
  padding: 30px;
  color: $white;
}

.sub-header h2{
  font-size: 50px;
  font-family: $lato;
  font-weight: bolder;
  padding: 30px;
}

.sub-header p{
  font-size: 30px;
  font-family: $lato;
  font-weight: bolder;
  padding-bottom: 30px;
  padding-top: 10px;
}

.search-bar {
  width: 500px;
  margin: 50px auto;
}

.search-input {
  padding: 5px 10px;
  background: $white;
  // border:0px solid $dark-blue;
  width: 370px;
  font-size: 17px;
}

.search-button {
  position: relative;
  padding: 7px 15px;
  // left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  font-size: 16px;
}

.search-button:hover  {
  // background-color:$light-blue;
  color: $white;
  cursor: pointer;
}

.search-result {
  width: 80%;
  display: flex;
  flex-direction: column;
  // text-align: center;
  margin: 50px auto 30px auto;
}

.search-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  // text-align: center;
  font-size: 20px;
  justify-content: space-between;
}

.city-list-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto 30px auto;
}

.citylist {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
  justify-content: space-between;
}

.city-list-item, .event-from-search {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  padding: 20px;
}

.city-list-div, .search-event-item {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.search-event-item {
  border: 1px solid $dark-blue;
  // background: $blue;
  // height: 150px;
}

.search-event-header {
  padding: 10px 0 10px 0;
  text-align: center;
}

.search-event-detail {
  text-align: left;
  padding: 5px 0 5px 0;
}

.search-event-header a, .search-event-detail a {
  color: $dark-blue;
  font-size: 20px;
  font-family: $lato;
}

.search-event-item:hover {
  box-shadow: 0 0 10px #ccc;
  opacity: 0.8;
}

.city-list-header {
  font-size: 30px;
  font-family: $lato;
  font-weight: bold;
}

.city-img {
  width: 100%;
  height: 100%;
  // width: 300px;
  // height: 200px;
  margin: 10px;
}

// .city-name {
//   width: 240px;
//   height: 200px;
//   background: #FFF;
//   opacity: 0;
// }

// .city-img:hover {
//   opacity: 0.6;
//   text-align:justify;
//   color:black;
//   font-size:20px;
//
// }

.city-img:hover {
  box-shadow: 0 0 10px #ccc;
  opacity: 0.8;
}

.footer-button {
  margin-right: 10px;
}

.footer-button:hover {
  cursor: pointer;
}
