.sub-header {
  background-color: $bright-blue;
  text-align: center;
  padding: 30px;
  color: $white;
  background: -webkit-linear-gradient(#0d65e0, #0cd1f1);
  background: -o-linear-gradient(#0d65e0, #0cd1f1);
  background: -moz-linear-gradient(#0d65e0, #0cd1f1);
  background: linear-gradient(#0d65e0, #0cd1f1);
}

.sub-header h2{
  font-size: 40px;
  font-family: $sans-serif;
  font-weight: bolder;
  padding: 30px;
}

.sub-header p{
  font-size: 25px;
  font-family: $sans-serif;
  font-weight: bolder;
  padding-bottom: 30px;
  padding-top: 10px;
}

.search-bar {
  width: 500px;
  margin: 50px auto;
}

.search-input {
  padding: 10px 10px;
  background: $white;
  // border: 2px solid $dark-blue;
  width: 370px;
  font-size: 17px;
  border-radius: 3px;
}

.search-button {
  position: relative;
  padding: 10px 15px;
  border:2px solid #207cca;
  background-color:#207cca;
  border-radius: 2px;
  color:#fafafa;
  font-size: 16px;
}

.search-button:hover  {
  color: $white;
  cursor: pointer;
}

.search-result {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 50px auto 30px auto;
}

.search-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
}

.city-list-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto 30px auto;
  border-top: 1px solid $dark-blue;
}

.citylist {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
  justify-content: space-between;
}

.city-list-item, .event-from-search {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  padding: 20px;
}

.city-list-div, .search-event-item {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.search-event-item {
  border: 1px solid $dark-blue;
}

.search-event-header {
  padding: 10px 0 20px 0;
  text-align: center;
  color: $dark-blue;
  font-size: 20px;
  font-family: $lato;
}

.search-event-detail {
  text-align: left;
  padding: 5px 0 5px 0;
  color: $dark-blue;
  font-size: 15px;
  font-family: $lato;
  margin-left: 20px;
}

.search-event-item:hover {
  box-shadow: 0 0 10px #ccc;
  opacity: 0.8;
}

.city-list-header {
  font-size: 30px;
  font-family: $lato;
  font-weight: bold;
}

.city-img {
  width: 100%;
  height: 100%;
  margin: 10px;
  z-index: -1;
}

.city-list-div {
  position: relative;
}

.city-list-div p {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 20%;
  font-size: 20px;
  font-family: $sans-serif;
  font-weight: bold;
  color: $dark-blue;
  width: 200px;
}

.city-img:hover {
  box-shadow: 0 0 10px #ccc;
  opacity: 0.3;
}

.footer-button {
  margin-right: 10px;
}

.footer-button:hover {
  cursor: pointer;
}
