.event-form-container {
  padding: 20px;
  margin: auto;
  width: 70%;
  margin-bottom: 20px;
  margin-left: 100px;
}

.event-form-container h2{
  font-family: $molengo;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: $blue;
  margin-bottom: 30px;
}

.event-form-container label{
  display: block;
  font-family: $sans-serif;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  color: $blue;
}

.event-form-error {
  padding-bottom: 20px;
  font-size: 15px;
  font-family: $sans-serif;
  color: red;
}

.error-form {
  padding: 5px;
}

.event-input {
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0 25px 0;
    border: 1px solid $dark-blue;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: $sans-serif;
}

.number {
  border: 1px solid $dark-blue;
  border-radius: 5px;
  text-align: left;
  font-size: 15px;
  width: 25%;
  padding: 8px 10px;
  margin: 10px 0 25px 0;
}

select {
  border: 1px solid $dark-blue;
  text-align: left;
  font-size: 15px;
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0 25px 0;
}

textarea {
  width: 100%;
	height: 120px;
  margin: 10px 0 25px 0;
	border: 1px solid $dark-blue;
  border-radius: 5px;
	padding: 8px 10px;
  font-size: 15px;
	font-family: $sans-serif;
}

.event-button {
  width: 30%;
  background-color: $hover-ul-color;
  padding: 5px 20px;
  margin: 0 200px 20px 200px;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15px;
  color: $dark-blue;
  font-family: $sans-serif;
  -webkit-filter: brightness(100%);
}

.event-button:hover {
  box-shadow: 0 0 10px #ccc;
  // opacity: 0.8;
  -webkit-filter: brightness(90%)
  // background-color: $dark-blue;
  // color: $white;
}
