.sub-event-header {
  position: relative;
  width: 80%;
  height: 200px;
  margin: 10px auto 10px auto;
  text-align: center;
  background-color: $bright-blue;
  opacity: 0.9;
}

.sub-event-header h2 {
  padding: 70px;
  font-size: 50px;
  font-family: $sans-serif;
  font-weight: bold;
  color: $white;
}

.sub-event-header-button {
  position: absolute;
  top: 75%;
  left: 85%;
  width: 150px;
  background: $darkest-blue;
  color: $white;
}

.sub-event-header-button:hover {
  background-color: $blue;
}

.sub-event-header-button-disabled {
  position: absolute;
  top: 75%;
  left: 85%;
  width: 150px;
  background: gray;
  color: $white;
}

.sub-event-header-button-disabled:hover {
  background-color: gray;
  cursor: default;
}

.event-homepage-container {
  display: block;
}

.event-home-list {
  margin: 20px auto;
  display: flex;
  width: 80%;
}

.event-page {
  padding: 10px;
}

.event-detail-item {
  font-size: 20px;
  font-family: $lato;
  padding: 10px;
  padding-left: 0;
}

.date-icon, .time-icon, .location-icon{
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.event-detail-item strong {
  font-weight: bold;
}

.event-detail-item-city {
  margin-top: 20px;
  font-size: 20px;
  font-family: $lato;
  padding: 10px;
  padding-left: 0;
}

.event-detail-item-city a {
  font-size: 20px;
  font-family: $lato;
  padding: 10px;
  padding-left: 0;
}
.event-detail-item-description-header {
  margin-top: 50px;
  font-size: 23px;
  font-family: $lato;
  padding: 10px;
  padding-left: 0;
}

.event-detail-item-description {
  font-size: 15px;
  font-family: $lato;
  padding: 10px;
  padding-left: 0;
}

.aside-event-detail {
  border: 2px solid $dark-blue;
  padding: 5px;
}

.num-attendees, .num-spot-left {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: $lato;
  padding: 10px;
}

.num-spot-left {
  padding-top: 0;
}

.joining-member-list {
  display: flex;
  padding: 10px;
  vertical-align: text-top;
}

.member-attending-img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.joining-member-name {
  display: inline-block;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: $lato;
  color: $blue;
  padding-bottom: 15px;
}
