.user-container {
  border: 2px solid $dark-blue;
  margin: 50px auto 0 auto;
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.user-name {
  font-size: 30px;
  font-weight: bold;
  font-family: $sans-serif;
  padding-bottom: 20px;
}

.user-member {
  font-size: 18px;
  padding-bottom: 10px;
}

.user-member-about-me {
  font-size: 18px;
}

.about-me-description {
  padding-bottom: 20px;
}

.user-join-city, .user-host-event, .user-join-event {
  margin-left: 20px;
  list-style: disc outside none;
  padding-bottom: 10px;
}

.user-host-event-list, .user-city-list, .user-join-event-list {
  padding: 10px;
}

.profile-pic-container {
  padding: 10px;
}

.edit-button {
  background-color: $dark-blue;
  color: $white;
}

.edit-button:hover {
  background-color: $blue;
  color: $dark-blue
}

.profile-pic-container img {
  width: 200px;
  height: 200px;
}
